*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", Arial, sans-serif;
    background-color: #f9f9f9;
}
.header {
    background-color: white;
    padding: 0 16px;
    height: 56px;
    display: flex;align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}
.headr_left,
.header_center,
.header_right {
    display: flex;
    align-items: center;
    gap: 16px;
}
.header_center {
    flex: 1;
    max-width: 600px;
    margin: 0 40px; 
}
.search_input {
    flex: 1;
}